---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
		<p class="post-meta">
			<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
				{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
				{{ page.date | date: date_format }}
			</time>
			{%- if page.author -%} •
			<span itemprop="author" itemscope itemtype="http://schema.org/Person"
				><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span
			>
			{%- endif -%}
		</p>
	</header>

	<div class="post-content e-content" itemprop="articleBody">
		{{ content }}
	</div>

	<h2>Lastest posts</h2>
	<ul class="other-post-list">
		{% for post in site.posts offset:1 limit:3 %}
		<li class="other-post-line">
			<span class="post-meta">{{ post.date | date: date_format }}</span>
			<big
				><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></big
			>
			<span class="other-post-excerpt">{{ post.excerpt | strip | truncate: 120 }}</span>
		</li>
		{% endfor %}
	</ul>
	<h3>
		<a href="/">All posts</a>
	</h3>
</article>
